.wrap {
	display: flex;
}

.canvas {
	display: flex;
	flex: 1;
	position: relative;
	padding: 20px;
}

.box {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #ccc;
	transform: translate(-50%, -50%);
}

.setter {
	width: 400px;
	height: 100vh;
	overflow: auto;
	background-color: #fff;
}

.setterItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
