.wrap {
	display: grid;
	grid-template-rows: 50px 50px 5fr;
}

.statsWrap {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.statsItem {
	display: flex;
	flex-direction: row;
	align-items: center;
}
